.barra-superior{
    border-bottom: solid 1pxn#8d8d8d;
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barra-de-buscar{
    background-color: #ffffff;
    width: fit-content;
    gap: 16px;
}

.buscar{
    border-radius: 15px;
    padding: 10px;
}

.barra-de-acoes{
    background-color: #ffffff;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.bt-primario{
    background-color: 777777;
    color: ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.bt-primario:hover{
    background-color: #555555;
}

.bt-secundario{
    background-color: #ffffff;
    color: 777777;
    border: nome;
    border-radius: 20px;
    padding: 10px;
}

.bt-primario:hover{
    color:#222222;
}

.avatar{

    height: 36px;
    width: 36px;
    /*fim da gambiarra*/
    margin-right: 20px;
    border: solid 1px #cdcdcd ;
    
}

.avatar:hover{
    filter: brightness(50%);
}

img{
    height: 80px;
    border: solid 1px #555555;
}

/*conteudo*/
.conteudo{
    margin-top: 80px; */Margem superior*/
    margin-left: auto;
    margin-right: auto;
    width: 800;*/largura*/
    border: solid 1px #ff0000;
}

.titulo-principal{
    font-family:sans-serif;/*Tipo da fonte*/
    font-weight: 900;/*Espessura da linha da letra*/
    font: size 40px;/*Tamanho da letra*/
}

.info1{
    font-family: sans-serif;
}

.linha{
    font-size: 16px;

}

.linha2{
    font-size: 14px;
}

.claro{
    color:777777;
}

.escuro{
    color:222222
}









